<h1>Welcome in {{ courseName }} course</h1>
<span>Course author: {{ author }}</span>

<h3 [innerHTML] = "competition"></h3>
<!-- <img [src] = "imgSrc" />
<img src="{{ imgSrc }}" /> -->
<p>Workers Data</p>
<p>Worker name is: {{workerName}}. Worker age: {{workerAge}}</p>

<div>
  <input placeholder="name" type="text" [(ngModel)]="workerName" />
  <br />
  <input placeholder="age" type="number" [(ngModel)]="workerAge" />
</div>

<br />

<button [ngClass]="{'approved' : isTrue, 'notapproved': !isTrue}"
(click)="isTrue = !isTrue">Prawda / Fałsz</button>

<button [ngStyle]="{'border-width' : width + 'px'}"
(click)="width = width + 1">Make border bigger</button>

<br />
<br />

<button (click)="values = values + 1">+</button>
<br />
<button (click)="values = values -1">-</button>
<h3 [innerHTML]="values"></h3>
<div *ngIf="values >= 10">
  <h2>Is Value bigger or bigger and equal as 10</h2>
</div>

<h2>Loop For in Angular</h2>
<ul>
  <li *ngFor="let person of data">
    Name: {{person.name}} | Proffesion: {{person.job}} | Age: {{person.age}}
  </li>
</ul>

<router-outlet></router-outlet>
